body{
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;

}

h1 {
    margin: 0px;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: white;
    color: green;
}

p {
    text-align: justify;
    margin: 3%;
}

h2 {
    margin-left: 7%;
}