body {
    margin: 0;
    background-image: linear-gradient(to top, #fbd9b6, #ffddd3, #ffe7ed, #fef4fc, #ffffff);
}


.header::after {
    content: "";
    height: 50vh;
    width: 100%;
    background-image: url(../img/monument.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
h1 {
    text-align: center;
    color: black;
    display: block;
    font-size: 4rem;
}

nav {
    background-color: black;
    width: 100%;
    height: auto;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.lim {
    color: blue;
    font-weight: bold;
}

p {
    text-align:justify;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    
}

.info {
    margin: 11%;
}

.footertext {
    margin: 0px;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
}

footer {
    background-color: black;
    height: auto;
    width: 100%;
    color: white;
} 

img {
   
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 662px) {

    img {
        width: 230px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
    text-align: left;
    font-size: 15px;
    
}
}