body{
    margin: 0px;
    background-image: linear-gradient(to top, #fbd9b6, #ffddd3, #ffe7ed, #fef4fc, #ffffff);
}

/* todo el header */
header {
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
}

.menu{
    margin: 0;
    list-style-type: none;
}
.menu li {
    text-decoration: none;
    font-size: 20px;
    display: inline;
    padding: 13px;
    font-family: 'Poppins', sans-serif;
}

.menu li a:hover {
    color: wheat;
}

.menu li a {
    color: white;
}


/* todo los posts*/
.container {
    width: 90%;
    margin: auto;
    padding: 2rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

img {
    margin: auto;
    width: 100%;
}

#container {
    width: 330;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    font-size: 14px;
    transition: all 0.25s;
    background-color: white;
}

#container:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);


}

footer {
    background-color: black;
    height: auto;
    width: 100%;
    color: white;
    text-align: center;
} 
a {
    text-decoration: none;
    color: rgb(248, 19, 2);
    font-family: 'Poppins', sans-serif;
}

.footertext {
    margin: 0px;
    padding: 15px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}


/* responsive */
@media screen and (min-width: 1100px) {
#container {
    text-align: center;
    width: 760;
    height: 650px;
}
}

@media screen and (max-width: 662px) {

    h2 {
        font-size: 10px;
    }
    p {
    font-size: 7px;
    
}

.menu li {
    font-size: 17px;
    padding: 10px;
}

#container {
    text-align: center;
    width: 760;
    height: 200px;
}
.grid {
    grid-gap: 5px;
}
}