body{
    margin: 0px;
    background-image: linear-gradient(to top, #fbd9b6, #ffddd3, #ffe7ed, #fef4fc, #ffffff);
}

header {
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    padding: 2rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

img {
    margin: auto;
    width: 100%;
}

footer {
    background-color: black;
    height: auto;
    width: 100%;
    color: white;
    text-align: center;
} 
a {
    text-decoration: none;
    color: green;
    font-family: 'Poppins', sans-serif;
}

.footertext {
    margin: 0px;
    padding: 15px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 662px) {

    h2 {
        font-size: 15px;
    }
    p {
    font-size: 12px;
    
}
}