body, html {
    margin: 0;
}

.header::before {
    content: "";
    height: 50vh;
    width: 100%;
    background-image: url(#);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

    @media screen and (max-width: 700px) {

    }   

    @media screen and (max-width: 500px) {


    }
    